# build results
/bin/
/build/

# build cache
/cache/

# local development setup
.build.env
/.vscode/
/.idea/
/vendor/

tmp
temp
coredump*

*.lock
*.tmp
*.temp
*.test

# local sandbox code
/*.cpp
/*.hpp
/*.cc
/*.h
/*.c

*.log
*.gz
*.tar
*.zip

# binaries and incremental build cache
*.exe
*.exe~
*.dll
*.lib
*.so
*.o
*.a
*.out
*.d

*.doc
*.docx
*.xls
*.xlsx
